@import '@fontsource/fira-mono';

@font-face {
	font-family: Poppins;
	src: url('./assets/fonts/Poppins-Medium.ttf');
}

:root {
	font-family: Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--font-mono: 'Fira Mono', monospace;
	--pure-white: #ffffff;
	--primary-color: #b9c6d2;
	--secondary-color: #d0dde9;
	--tertiary-color: #edf0f8;
	--accent-color: #ff3e00;
	--heading-color: rgba(0, 0, 0, 0.7);
	--text-color: #444444;
	--background-without-opacity: rgba(255, 255, 255, 0.7);
	--column-width: 42rem;
	--column-margin-top: 4rem;
}	

body {
	background-color: #0B0B12;
	/* background-color: skyblue; */
	padding: 40px;
	padding-left: 142px;
	padding-right: 159px;	
	font-family: 'Poppins';
}

#svelte {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

h1,
h2,
p {
	font-weight: 400;
	color: var(--heading-color);
	color: white
}

p {
	line-height: 1.5;
}

a {
	color: var(--accent-color);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-size: 32px;
	font-weight: bold;
}

h2 {
	font-size: 1rem;
}

pre {
	font-size: 16px;
	font-family: var(--font-mono);
	background-color: rgba(255, 255, 255, 0.45);
	border-radius: 3px;
	box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
	padding: 0.5em;
	overflow-x: auto;
	color: var(--text-color);
}

svg {
    vertical-align: top;
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}

.sc-carousel-dots__container{
	display: none!important
}

.card-carousel .swiper-button-prev,.card-carousel  .swiper-button-next{
	display: none;
}

.card-carousel.active .swiper-button-prev,.card-carousel.active  .swiper-button-next{
	display:flex;
}

.swiper-button-next{
	right: 20px!important;
}

.swiper-button-prev, .swiper-button-next{
	width: 40px!important;
	height: 40px!important;
	background-color: #311037!important;
	color: white!important;
	border-radius: 50%;
}
.swiper-button-next:after, .swiper-button-prev:after{
	font-size: 16px!important;
}

.listItem, .selectedItem {
	font-size: 12px;
}

.sc-carousel-arrow__circle i{
	border-color: white!important;
}

svg.active {
	color: #c921cd;
}

svg.text-dangerouse.i {
	color: #c921cd!important;
}

.watchlist.active {
	color: #c921cd;
}

svg.i.up {
	color: #00a478;
	border-radius: 8px;
	background-color: #112a2e;
	padding: 7px;
	width: 24px;
	height: 24px;
	font-size: 16px;
}

svg.i.down {
	color: #d50012;
	border-radius: 8px;
	background-color: #31111f;
	padding: 7px;
	width: 24px;
	height: 24px;
	font-size: 16px;
}

svg.i.lock {
	color: #0b0b12;
	border-radius: 8px;
	background-color: #33333e;
	padding: 7px;
	width: 24px;
	height: 24px;
	font-size: 16px;
}

.about p a{
	color: #c921cd;
}

.swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal{
	display: none;
}

@media (max-width: 1352px) {
	body{
		padding-left: 20px;
		padding-right: 20px;
	}

	.swiper-button-prev, .swiper-button-next{
		display: none!important;
	}
}

@media (max-width: 906px) {
	body{
		padding-left: 20px;
		padding-right: 20px;
	}
}

@media (min-width: 720px) {
	h1 {
		font-size: 2.4rem;
	}
}

@media (max-width: 666px){
	.swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal{
		display:block;
	}
	.sc-carousel__arrow-container{
		display: none!important;
	}
	.swiper-pagination-bullet.swiper-pagination-bullet-active{
		background-color: #c921cd!important;
	}
	.swiper-pagination-bullet{
		background: white!important;
	}
	.card-carousel{
		height: 150px;
	}
	.swiper.swiper-initialized.swiper-horizontal.mySwiper{
		height: 170px;
	}

	.overview_swiper .card-carousel{
		height: 100px;
	}
	.overview_swiper .swiper.swiper-initialized.swiper-horizontal.mySwiper{
		height: 140px;
	}
}
@media (max-width: 535px){
	.card-carousel{
		height: 160px;
	}
	.swiper.swiper-initialized.swiper-horizontal.mySwiper{
		height: 190px;
	}
	.swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal{
		width: 80%;
		left: 10%;
	}
}

@media (max-width: 436px) {
	body{
		padding-right: 20px!important;
	}
	
	.head{
		padding-left: 2px!important;
	}
	.tv-lightweight-charts{
		width: 100%!important;
	}
}
