@import '@fontsource/fira-mono';

@font-face {
	font-family: Poppins;
	src: url('./assets/fonts/Poppins-Medium.ttf');
}

:root {
	font-family: Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--font-mono: 'Fira Mono', monospace;
	--pure-white: #ffffff;
	--primary-color: #b9c6d2;
	--secondary-color: #d0dde9;
	--tertiary-color: #edf0f8;
	--accent-color: #ff3e00;
	--heading-color: rgba(0, 0, 0, 0.7);
	--text-color: #444444;
	--background-without-opacity: rgba(255, 255, 255, 0.7);
	--column-width: 42rem;
	--column-margin-top: 4rem;
}	

body {
	background-color: #0B0B12;
	/* background-color: skyblue; */
	padding: 40px;
	padding-left: 142px;
	padding-right: 159px;	
	font-family: 'Poppins';
}

#svelte {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

h1,
h2,
p {
	font-weight: 400;
	color: var(--heading-color);
	color: white
}

p {
	line-height: 1.5;
}

a {
	color: var(--accent-color);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-size: 32px;
	font-weight: bold;
}

h2 {
	font-size: 1rem;
}

pre {
	font-size: 16px;
	font-family: var(--font-mono);
	background-color: rgba(255, 255, 255, 0.45);
	border-radius: 3px;
	box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
	padding: 0.5em;
	overflow-x: auto;
	color: var(--text-color);
}

svg {
    vertical-align: top;
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}

.sc-carousel-dots__container{
	display: none!important
}
.sc-carousel-arrow__circle{
	width: 40px!important;
	height: 40px!important;
	background-color: #311037!important;
	color: white!important
}
.sc-carousel-arrow__circle i{
	border-color: white!important;
}
@media (max-width: 1352px) {
	body{
		padding-left: 20px;
		padding-right: 20px;
	}
	.sc-carousel__arrow-container{
		display: none!important;
	}
}

@media (max-width: 906px) {
	body{
		padding-left: 20px;
		padding-right: 20px;
	}
}

@media (min-width: 720px) {
	h1 {
		font-size: 2.4rem;
	}
}

@media (max-width: 436px) {
	body{
		padding-right: 20px!important;
	}
	.head{
		padding-left: 2px!important;
	}
}
